/* VARIABLES */
body {
  background: pink; }

/* VARIABLES */
body {
  font-family: "Montserrat", Helvetica, Arial, san-serif; }

/* -------------------------------- 
CSS TABLE OF CONTENTS

#TYPOGRPAHY
    #TYPOGRAPHIC SCALE
    #TYPE SPECIMEN 
#COMPONENTS
    #BUTTONS
#LAYOUT
    #MEDIA QUERY
    #CONTAINER
    #RESPONSIVE TYPE
    #GRID

---------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif; }

/* TYPOGRAPHY */
body {
  font-size: 100%;
  /* 16 px */
  font-family: "Montserrat", Helvetica, Arial, san-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  margin: 0 0 .5em 0; }

/* #HEADINGS
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/
h1 {
  font-size: 3em;
  line-height: 1em; }

/* 48px / 16px = 3em */
h2 {
  font-size: 2.25em;
  line-height: 1.1em; }

/* 36px / 16px = 2.25em */
h3 {
  font-size: 1.5em;
  line-height: 1.2em; }

/* 24px / 16px = 1.5em */
h4 {
  font-size: 1.3125em;
  line-height: 1.3em; }

/* 21px / 16px = 1.3125em */
h5 {
  font-size: 1.125em;
  line-height: 1.4em; }

/* 18px / 16px = 1.125em */
h6 {
  font-size: 1em;
  line-height: 1.5em; }

/* 16px / 16px = 1em */
p {
  margin: 0 0 .5em 0;
  max-width: 38em; }

/*Horizantol Rule*/
hr {
  border: 0;
  height: 1px;
  margin: 3em 0;
  background: rgba(0, 0, 0, 0.5); }

.headline {
  font-size: 2.5em;
  color: #237eb6;
  margin: 0; }

.subheadline {
  font-family: "Montserrat", Helvetica, Arial, san-serif;
  font-size: 2.5em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0 0.5em 0; }

.meta {
  font-size: .875em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5em; }

/* COMPONENTS */
.button,
a.button {
  font-size: .8em;
  display: inline-block;
  background-color: #8080ff;
  border: 1px solid #280080;
  color: #fff;
  padding: 1.25em 2.5em;
  border-radius: 3em;
  margin-top: .5em;
  margin-bottom: .5em;
  border: 1px solid #8080ff;
  cursor: pointer;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1em; }

button.alt
a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #8080ff;
  color: #8080ff; }

button :hover,
a.button:hover {
  background-color: #280080;
  color: #fff;
  border-color: #280080; }

/* LAYOUT */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  background: green; }

body {
  font-size: 87.5%;
  /* 14 px */ }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 4%; }

@media (min-width: 768px) {
  body {
    font-size: 100%;
    /* 16 px */ }
  .container {
    background: red; } }

@media (min-width: 992px) {
  .container {
    background: blue;
    max-width: 1200px;
    padding: 0 50px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
    /* 18 px */ }
  .container {
    background: #8080ff;
    max-width: 1200px; } }
