/* LAYOUT */

* { box-sizing:border-box; }

// SMALL SCREENS AND UP (MOBILE-FIRST)


body{
    font-size: 87.5%; /* 14 px */
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

// MED SCREENS (Tablet)
@media (min-width: $breakpoint-small) {

body{
    font-size: 100%; /* 16 px */
}
   
} 

// LARGE SCREENS (Notebooks) 
@media (min-width: $breakpoint-medium) {
    .container {
        max-width: $breakpoint-large - 50;
        padding: 0 50px;
    }
}

// EXTRA LARGE SCREENS (Tablet)
@media (min-width: $breakpoint-large) {
    body{
        font-size: 112.5%; /* 18 px */
    }
    .container {
        background: $link-color;
        max-width: $breakpoint-large - 50;
    }
}   

/* Grid */

$grid-column-gap: 1%;

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-column-gap;
    margin-right: -$grid-column-gap;
    justify-content: center;
    align-content: center;
    &.swapped{
        flex-direction: row-reverse;
    }
}

.row > .column{
    flex-grow: 1;
    flex-basis: 11em;
    margin-top: 0;
    margin-right: $grid-column-gap;
    margin-left: $grid-column-gap;
    margin-bottom: $grid-column-gap*2;
    
    @media(max-width: $breakpoint-small -1) {
       flex-basis: $breakpoint-small;
       flex-grow: 0;
    }
    &.one-half {
        width: 48%
        //width:50 - $grid-column-gap; 
    }
    &.one-thrid {
        width: 31.3333%; 
        //width:33.3333 - $grid-column-gap; 

    }
    &.one-fourth {
        width: 23%;
                //width:25 - $grid-column-gap; 
    }
    @media (min-width: $breakpoint-small) {
        &.centered {
            border: 1px solid red;
            flex-basis: 100px;
        }  
    }
}

//FOR DEMON PURPOSES
.demo .column {
    padding: 1em;
    background: #cccccc;
    text-align: center;
}

