/* TYPOGRAPHY */
body{
    font-size: 100%; /* 16 px */
    font-family: $type-base;
}

h1, h2, h3, h4, h5, h6{
    font-family: $type-heading;
    margin: 0 0 .5em 0;
}

/* #HEADINGS
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/

h1{ font-size: 3em; line-height: 1em;} /* 48px / 16px = 3em */
h2{ font-size: 2.25em; line-height: 1.1em;} /* 36px / 16px = 2.25em */
h3{ font-size: 1.5em; line-height: 1.2em;} /* 24px / 16px = 1.5em */
h4{ font-size: 1.3125em; line-height: 1.3em;} /* 21px / 16px = 1.3125em */
h5{ font-size: 1.125em; line-height: 1.4em;} /* 18px / 16px = 1.125em */
h6{ font-size: 1em; line-height: 1.5em;} /* 16px / 16px = 1em */

p{
    margin: 0 0 .5em 0;
    max-width: $type-linewidth;

}